---
# #####################################################################
# Create a GitLab
# #####################################################################
- name: Generate DNS Name for GitLab
  set_fact:
    service_dns_name_gitlab: "gitlab.{{ k8sworker1_ip }}.{{ jumphost_tld }}"
  when:
    - site_deploy_gitlab == True
    - site_deploy_kubernetes == True

# - name: Generate DNS Name for GitLab Registry
#   set_fact:
#     service_dns_name_gitlab: "https://registry.{{ k8sworker1_ip }}.{{ jumphost_tld }}"
#   when:
#     - site_deploy_gitlab == True
#     - site_deploy_kubernetes == True

- name: Create Proxy Configuration and Certificate for GitLab
  include_role:
    name: proxy
  vars:
    operation: create_site
    service_name: gitlab
    jumphost_external_ip: "{{ inventory_hostname }}"
    proxy_destination: "{{ service_dns_name_gitlab }}"
    node_port: "{{ gitlab_nodeport_https }}"
    target_type: https
  when:
    - site_deploy_gitlab == True
    - site_deploy_kubernetes == True
    - site_deploy_jumphost == True

- name: Generate DNS Name for GitLab
  set_fact:
    service_dns_name: "https://gitlab-{{ jumphost_ip | regex_replace('\\.', '-') }}.{{ jumphost_tld }}"

- name: Create GitLab Overrides File
  copy:
    dest: /home/ubuntu/overrides-gitlab-metallb.yml
    mode: 0640
    owner: ubuntu
    content: |
      global:
        edition: ce
        ingress:
          configureCertmanager: false
        hosts:
          domain: {{ k8sworker1_ip }}.{{ jumphost_tld }}
          externalIP: {{ k8sworker1_ip }}
      certmanager:
        install: false
      gitlab-runner:
        install: false

- name: Install GitLab Repo
  become: true
  become_user: ubuntu
  shell: helm repo add gitlab https://charts.gitlab.io/

- name: Update GitLab Repo
  become: true
  become_user: ubuntu
  shell: helm repo update

- name: Create GitLab Namespace
  become: true
  become_user: ubuntu
  shell: kubectl create namespace {{ gitlab_namespace }} --dry-run=true -o yaml | kubectl apply -f -
  args:
    chdir: $HOME

- name: Install GitLab
  become: true
  become_user: ubuntu
  shell: helm install --namespace {{ gitlab_namespace }} --values overrides-gitlab-metallb.yml {{ gitlab_name }} {{ gitlab_chart }} >> gitlab.log
  args:
    chdir: $HOME
    creates: gitlab.log

# - name: GitLab patch http port
#   become: true
#   become_user: ubuntu
#   command: kubectl patch service -n {{ gitlab_namespace }} gitlab-nginx-ingress-controller --type='json' --patch='[{"op":"replace", "path":"/spec/ports/0/nodePort", "value":{{ gitlab_nodeport_http }}}]'

- name: GitLab patch https port
  become: true
  become_user: ubuntu
  command: kubectl patch service -n {{ gitlab_namespace }} gitlab-nginx-ingress-controller --type='json' --patch='[{"op":"replace", "path":"/spec/ports/1/nodePort", "value":{{ gitlab_nodeport_https }}}]'
  ignore_errors: yes

# - name: GitLab patch ssh port
#   become: true
#   become_user: ubuntu
#   command: kubectl patch service -n {{ gitlab_namespace }} gitlab-nginx-ingress-controller --type='json' --patch='[{"op":"replace", "path":"/spec/ports/2/nodePort", "value":{{ gitlab_nodeport_ssh }}}]'

- name: Fetch gitlab.log
  become: true
  become_user: ubuntu
  fetch:
    src: /home/ubuntu/gitlab.log
    dest: ./site_{{ type }}/
    flat: yes

- name: Query root Password
  become: true
  become_user: ubuntu
  shell: kubectl get --namespace {{ gitlab_namespace }} secret gitlab-gitlab-initial-root-password -ojsonpath='{.data.password}' | base64 --decode
  register: root_password

- name: Create link document for GitLab
  become: true
  become_user: ubuntu
  copy:
    dest: /home/ubuntu/gitlab.txt
    mode: 0640
    content: |
      URL: http://{{ inventory_hostname }}:{{ gitlab_nodeport_https }}
      URL: {{ service_dns_name }}
      Username: root
      Password: {{ root_password.stdout }}

- name: Fetch gitlab.txt
  become: true
  become_user: ubuntu
  fetch:
    src: /home/ubuntu/gitlab.txt
    dest: ./site_{{ type }}/
    flat: yes
