---
# #####################################################################
# Deploy Helm
# #####################################################################
- name: Helm Download Sources
  get_url:
    url: "{{ helm_url }}{{ helm_archive }}"
    dest: /tmp

- name: Helm Extract to /tmp
  unarchive:
    src: /tmp/{{ helm_archive }}
    dest: /tmp
    remote_src: yes

- name: Helm Copy Binary to /usr/local/bin
  become: true
  copy:
    src: /tmp/linux-amd64/helm
    dest: /usr/local/bin/helm
    remote_src: yes
    owner: root
    group: root
    mode: 0755

- name: Helm Add Repo
  become: true
  become_user: ubuntu
  command: helm repo add stable https://kubernetes-charts.storage.googleapis.com/

- name: Helm Repo Update
  become: true
  become_user: ubuntu
  command: helm repo update

- name: Helm Bash Command Completion
  become: true
  become_user: ubuntu
  lineinfile:
    path: /home/ubuntu/.bashrc
    insertafter: EOF
    line: 'source <(helm completion bash)'
