# #####################################################################
# This is a sample configuration of MOADSD-NG. Using it and adding the
# MANDATORY information will create a three node Kubernetes cluster
# with Smart Check, Jenkins, Prometheus und Grafana deployed and
# pre-configured.
# If you are only going to use AWS or GCP, simply remove the other
# cloud settings completely.
# See roles/configurator/defaults/main.yml for all the default values
#
# https://github.com/mawinkler/moadsd-ng/blob/master/roles/configurator/defaults/main.yml
# #####################################################################

# #####################################################################
# Site Deploy Components
# #####################################################################
site_deploy_kubernetes: yes
site_deploy_smartcheck: yes
site_deploy_jenkins: yes
site_deploy_prometheus: yes
site_deploy_grafana: yes

moadsd_ng_prefix: moadsd-ng-macgyver
moadsd_ng_user: macgyver

# #####################################################################
# Google Cloud Settings
# #####################################################################

# #####################################################################
# AWS Cloud Settings
# #####################################################################
# Ubuntu Server 18.04 LTS (HVM), SSD Volume Type
ami_ubuntu: ami-0ac05733838eabc06
# Red Hat Enterprise Linux 8 (HVM), SSD Volume Type
ami_redhat: ami-00e37cffd3bb3ac8d
# Microsoft Windows Server 2012 R2 Base
ami_windows: ami-0cbf1b1038bbb408d

# #####################################################################
# Site Secrets
# #####################################################################
# Deep Security Smart Check
smartcheck_license: MANDATORY
smartcheck_password: <PASSWORD>
smartcheck_registry_password: <PASSWORD>

# Jenkins
jenkins_password: <PASSWORD>
jenkins_token: OPTIONAL

# Cluster Registry
cluster_registry_password: <PASSWORD>

# Grafana
grafana_password: <PASSWORD>

# Ansible
admin_email: MANDATORY
