plugin: gcp_compute
zones:
  - <zone>
projects:
  - <project id>
keyed_groups:
  - prefix: tag
    separator: '_'
    key: tags['items']
hostnames:
  - public_ip
  - private_ip
  - name
groups:
filters:
scopes:
  - https://www.googleapis.com/auth/compute
auth_kind: serviceaccount
service_account_file: /home/ansible/ansible.json
