server {
  listen 80;
  listen [::]:80;

  server_name {{ service_name }}.{{ jumphost_external_ip | | regex_replace('.', '-') }}.nip.io;
  access_log /var/log/nginx/reverse-access.log;
  error_log /var/log/nginx/reverse-error.log;

  location / {
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "Upgrade";
    proxy_pass http://{{ k8smaster_ip }}:{{ k8smaster_ip }}/;
  }
}
