---
kubernetes_master_login_user: <INITIAL LOGIN USERNAME>
kubernetes_master_login_password: <INITIAL LOGIN PASSWORD>

kubernetes_worker_login_user: <INITIAL LOGIN USERNAME>
kubernetes_worker_login_password: <INITIAL LOGIN PASSWORD>
