---
# #####################################################################
# Site Deploy Components
# #####################################################################
site_deploy_jumphost: no
site_deploy_kubernetes: yes
site_deploy_deepsecurity: no
site_deploy_smartcheck: yes
site_deploy_jenkins: yes
site_deploy_gitlab: no
site_deploy_gitlab_docker: no
site_deploy_endpoints: no
site_deploy_linkerd: no
site_deploy_registry: yes

# #####################################################################
# Google Cloud Settings
# #####################################################################
gcp_project_id: moadsd-ng-4
gcp_auth_kind: serviceaccount
gcp_region: europe-west3
gcp_zone: europe-west3-c
startup_script_linux: |
       #!/bin/sh
       useradd -m -s /bin/bash ansible
       mkdir -p /home/ansible/.ssh
       chmod 700 /home/ansible/.ssh
       chown ansible.ansible /home/ansible/.ssh
       echo {{ ansible_ssh_key }} >> /home/ansible/.ssh/authorized_keys
       chmod 600 /home/ansibl/.ssh/authorized_keys
       chown ansible.ansible /home/ansible/.ssh/authorized_keys
       echo {{ ansible_ssh_key }} >> /home/ubuntu/.ssh/authorized_keys
       echo "ansible ALL=(ALL) NOPASSWD:ALL" >> /etc/sudoers.d/custom-users
       apt update
       apt install -y python3 python3-simplejson
startup_script_windows: |
       Invoke-Expression -Command ((New-Object System.Net.WebClient).DownloadString('https://raw.githubusercontent.com/ansible/ansible/devel/examples/scripts/ConfigureRemotingForAnsible.ps1')); Enable-WSManCredSSP -Role Server -Force
scopes:
  - https://www.googleapis.com/auth/compute
moadsd_ng_prefix: moadsd-ng

# #####################################################################
# Linux Jumphost Settings
# #####################################################################
jumphost_instance_name: jumphost
jumphost_instance_count: 1
jumphost_size_gb: 32
jumphost_source_image: projects/ubuntu-os-cloud/global/images/family/ubuntu-1804-lts
jumphost_machine_type: n1-standard-1
jumphost_startup_script: "{{ startup_script_linux }}"
jumphost_tags: role-jumphost

# #####################################################################
# Kubernetes Settings
# #####################################################################
# crio or docker
kubernetes_container_runtime: docker
kubernetes_worker_count: 3

# Cluster Networking Configration:
# pod_network_cidr: "10.244.0.0/16"   cluster_networking: flannel_flannel
# pod_network_cidr: "10.244.0.0/16"   cluster_networking: calico_flannel
# pod_network_cidr: "192.168.0.0/16"  cluster_networking: calico_calico
pod_network_cidr: "10.244.0.0/16"
cluster_networking: flannel_flannel

kubernetes_master_instance_name: k8smaster
kubernetes_master_size_gb: 32
kubernetes_master_source_image: projects/ubuntu-os-cloud/global/images/family/ubuntu-1804-lts
kubernetes_master_machine_type: n1-standard-2
kubernetes_master_startup_script: "{{ startup_script_linux }}"
kubernetes_master_tags: role-k8smaster

kubernetes_worker_instance_name: k8sworker
kubernetes_worker_size_gb: 32
kubernetes_worker_source_image: projects/ubuntu-os-cloud/global/images/family/ubuntu-1804-lts
kubernetes_worker_machine_type: n1-standard-2
kubernetes_worker_startup_script: "{{ startup_script_linux }}"
kubernetes_worker_tags: role-k8sworker

kubernetes_dashboard_nodeport: 30000
rook_ceph_dashboard_nodeport: 30001
linkerd_dashboard_nodeport: 30002

# #####################################################################
# Deep Security Settings
# #####################################################################
deepsecurity_download_url: 'https://files.trendmicro.com/products/deepsecurity/en/12.5/'
deepsecurity_installer: 'Manager-Linux-12.5.349.x64.sh'

postgresql_instance_name: postgresql
postgresql_size_gb: 16
postgresql_source_image: projects/ubuntu-os-cloud/global/images/family/ubuntu-1804-lts
postgresql_machine_type: n1-standard-2
postgresql_startup_script: "{{ startup_script_linux }}"
postgresql_tags: role-dsm-db

deepsecurity_instance_name: dsm
deepsecurity_size_gb: 32
deepsecurity_source_image: projects/rhel-cloud/global/images/family/rhel-7
deepsecurity_machine_type: n1-standard-4
deepsecurity_startup_script: "{{ startup_script_linux }}"
deepsecurity_tags: role-dsm

deepsecurity_database_name: dsmdb
deepsecurity_database_user: dsm
deepsecurity_database_role_attr_flags: LOGIN,CREATEDB,CREATEROLE
deepsecurity_database_priv: "CONNECT/ALL"

databasescreen_port: 5432
addressandportsscreen_managerport: 4119
addressandportsscreen_heartbeatport: 4120
addressandportsscreen_agentport: 4122

# #####################################################################
# Web Server for certificates
# #####################################################################
certserv_nodeport: 30012

# #####################################################################
# Deep Security Smart Check Settings
# #####################################################################
smartcheck_nodeport: 30010
smartcheck_registry: 30011

# #####################################################################
# Jenkins Settings
# #####################################################################
jenkins_nodeport: 30013

# #####################################################################
# Docker Registry Settings
# #####################################################################
registry_nodeport: 30017

# #####################################################################
# Custom Port for self-created services in K8s
# #####################################################################
custom_nodeport: 30100

# #####################################################################
# Gitlab Settings
# #####################################################################
gitlab_instance_name: gitlab
gitlab_hostname: moadsd-ng.hopto.org
# GitLab Kubernetes Settings
gitlab_nodeport_http: 30014
gitlab_nodeport_https: 30015
gitlab_nodeport_ssh: 30016
# GitLab Docker Settings
gitlab_docker_letsencrypt: 80
gitlab_docker_registry: 443
gitlab_docker_https: 8443
gitlab_size_gb: 32
gitlab_source_image: projects/ubuntu-os-cloud/global/images/family/ubuntu-1804-lts
gitlab_machine_type: n1-standard-2
gitlab_startup_script: "{{ startup_script_linux }}"
gitlab_tags: role-gitlab

# #####################################################################
# Linux Endpoint Settings
# #####################################################################
linuxep_instance_name: linuxep
linuxep_instance_count: 0
linuxep_size_gb: 32
linuxep_source_image: projects/rhel-cloud/global/images/family/rhel-7
#projects/ubuntu-os-cloud/global/images/family/ubuntu-1804-lts
linuxep_machine_type: n1-standard-1
linuxep_startup_script: "{{ startup_script_linux }}"
linuxep_tags: role-linuxep

# #####################################################################
# Windows Endpoint Settings
# #####################################################################
windowsep_instance_name: windowsep
windowsep_instance_count: 1
windowsep_size_gb: 50
windowsep_source_image: projects/windows-cloud/global/images/family/windows-2012-r2
windowsep_machine_type: n1-standard-1
windowsep_startup_script: "{{ startup_script_windows }}"
windowsep_tags: role-windowsep
