---
# Deep Security as a Service
# Only required, if you are using Deep Security as a Service
deepsecurity_tenant_id: <DSaaS TENANT ID>
deepsecurity_token: <DSaaS TOKEN>

# Deep Security
# Only required, if you are using Deep Security running 'on-prem' in MOADSD-NG
deepsecurity_license: <DEEP SECURITY LICENSE KEY>
deepsecurity_database_password: <DEEP SECURITY DATABASE PASSWORD>
deepsecurity_administrator_username: <DEEP SECURITY ADMINISTRATOR USERNAME>
deepsecurity_administrator_password: <DEEP SECURITY ADMINISTRATOR PASSWORD>

# Deep Security Smart Check
# Only required, if you are using Deep Security Smart Check
smartcheck_username: <SMART CHECK ADMINISTRATOR USERNAME>
smartcheck_password: <SMART CHECK ADMINISTRATOR PASSWORD>
smartcheck_registry_username: <SMART CHECK REGISTRY USERNAME>
smartcheck_registry_password: <SMART CHECK REGISTRY PASSWORD>
smartcheck_license: <SMART CHECK LICENSE KEY>
# Only required, if you are deploying Smart Check with external database
# Requires Deep Security to be deployed as well
smartcheck_database_username: <SMARTCHECK EXTERNAL DATABASE USERNAME>
smartcheck_database_password: <SMARTCHECK EXTERNAL DATABASE PASSWORD>

# Cloud One Application Security
application_security_key: <GROUP CREDENTIALS KEY>
application_security_secret: <GROUP CREDENTIALS SECRET>

# Jenkins
# Only required, if you are using Jenkins
jenkins_username: <JENKINS USERNAME>
jenkins_password: <JENKINS PASSWORD>
jenkins_token: <JENKINS TOKEN - YOU NEED TO CREATE IT WITHIN JENKINS>
jenkins_github_access_token: <GITHUB ACCESS TOKEN FOR JENKINS>

# GitLab Registry
# Only required, if you are using GitLab
gitlab_runner_registration_token: <GITLAB RUNNER REGISTRATION TOKEN - YOU GET IT WITHIN GITLAB>

# Cluster Registry
# Only required, if you are using Kubernetes
cluster_registry_username: <CLUSTER REGISTRY USERNAME>
cluster_registry_password: <CLUSTER REGISTRY PASSWORD>

# Grafana
# Only required, if you are using Grafana
grafana_username: <GRAFANA USERNAME>
grafana_password: <GRAFANA PASSWORD>

# Ansible
# Mandatory
ansible_ssh_key: <ANSIBLE PUBLIC KEY AS IN id_rsa.pub>

# Your valid e-Mail address, required for Letsencrypt
# Mandatory
admin_email: <YOUR VALID EMAIL ADDRESS>

# Docker Hub
# Only required, if you are willing to push images to the Docker Hub
dockerhub_username: <DOCKERHUB USERNAME>
dockerhub_password: <DOCKERHUB PASSWORD>

# GitHub
# Only required, if you are willing to work with private repositories
github_username: <GITHUB USERNAME>
github_password: <GITHUB PASSWORD>
