plugin: aws_ec2
regions:
  - {{ aws_region }}
keyed_groups:
  - key: tags.role
    prefix: tag_role
    separator: '_'
  - key: tags.user
    prefix: tag_user
    separator: '_'
  - key: tags.Name
    prefix: tag_Name
hostnames:
  - ip-address
  - private-ip-address
