---
# #####################################################################
# Site Deploy Components
# #####################################################################
site_deploy_kubernetes: {{ site_deploy_kubernetes }}
site_deploy_openshift: no
site_deploy_deepsecurity: no
site_deploy_smartcheck: {{ site_deploy_smartcheck }}
site_deploy_jenkins: {{ site_deploy_jenkins }}
site_deploy_gitlab: {{ site_deploy_gitlab }}
site_deploy_endpoints: no
site_deploy_linkerd: {{ site_deploy_linkerd }}
site_deploy_prometheus: {{ site_deploy_prometheus }}
site_deploy_grafana: {{ site_deploy_grafana }}
site_deploy_opa: {{ site_deploy_opa }}

# #####################################################################
# ESX Cloud Settings
# #####################################################################
startup_script_linux: |
       {% raw %}#!/bin/sh
       useradd -m -s /bin/bash ansible
       mkdir -p /home/ansible/.ssh
       chmod 700 /home/ansible/.ssh
       chown ansible.ansible /home/ansible/.ssh
       echo {{ ansible_ssh_key }} >> /home/ansible/.ssh/authorized_keys
       chmod 600 /home/ansible/.ssh/authorized_keys
       chown ansible.ansible /home/ansible/.ssh/authorized_keys

       useradd -m -s /bin/bash ubuntu
       mkdir -p /home/ubuntu/.ssh
       chmod 700 /home/ubuntu/.ssh
       chown ubuntu.ubuntu /home/ubuntu/.ssh
       echo {{ ansible_ssh_key }} >> /home/ubuntu/.ssh/authorized_keys
       chmod 600 /home/ubuntu/.ssh/authorized_keys
       chown ubuntu.ubuntu /home/ubuntu/.ssh/authorized_keys

       echo "ansible ALL=(ALL) NOPASSWD:ALL" >> /etc/sudoers.d/custom-users
       echo "ubuntu ALL=(ALL) NOPASSWD:ALL" >> /etc/sudoers.d/custom-users

       apt-get update -y -qq
       export DEBIAN_FRONTEND=noninteractive
       apt-get install -q --option "Dpkg::Options::=--force-confold" -y --assume-yes python3 python3-simplejson{% endraw %}

moadsd_ng_prefix: {{ moadsd_ng_prefix }}

# #####################################################################
# Linux Jumphost Settings
# #####################################################################
site_deploy_jumphost: no
jumphost_instance_name: jumphost
jumphost_tags: jumphost
jumphost_tld: {{ jumphost_tld }}

# #####################################################################
# Kubernetes Settings
# #####################################################################
# crio or docker
kubernetes_container_runtime: {{ kubernetes_container_runtime }}
kubernetes_worker_count: {{ kubernetes_worker_count }}

# Cluster Networking Configuration: flannel_flannel or calico_calico
pod_network_cidr: "10.244.0.0/16"
cluster_networking: {{ cluster_networking }}

kubernetes_master_instance_name: {{ kubernetes_master_instance_name }}
kubernetes_worker_instance_name: {{ kubernetes_worker_instance_name }}

kubernetes_dashboard_nodeport: 30000
rook_ceph_dashboard_nodeport: 30001
linkerd_dashboard_nodeport: 30002

# #####################################################################
# Web Server for certificates
# #####################################################################
certserv_nodeport: 30012

# #####################################################################
# Deep Security Smart Check Settings
# #####################################################################
smartcheck_nodeport: 30010
smartcheck_registry: 30011

# #####################################################################
# Jenkins Settings
# #####################################################################
jenkins_nodeport: 30013

# #####################################################################
# Docker Registry Settings
# #####################################################################
registry_nodeport: 30017

# #####################################################################
# Grafana Settings
# #####################################################################
grafana_nodeport: 30018

# #####################################################################
# Prometheus Settings
# #####################################################################
prometheus_nodeport: 30019

# #####################################################################
# Custom Port for self-created services in K8s
# #####################################################################
custom_nodeport: 30100
custom_nodeport1: 30101
custom_nodeport2: 30102
custom_nodeport3: 30103

# #####################################################################
# Gitlab Settings
# #####################################################################
gitlab_nodeport_http: 30014
gitlab_nodeport_https: 30015
gitlab_nodeport_ssh: 30016
