---
kubernetes_master_login_user: {{ kubernetes_master_login_user }}
kubernetes_master_login_password: {{ kubernetes_master_login_password }}

kubernetes_worker_login_user: {{ kubernetes_worker_login_user }}
kubernetes_worker_login_password: {{ kubernetes_worker_login_password }}
