plugin: gcp_compute
zones:
  - {{ gcp_zone }}
projects:
  - {{ gcp_project_id }}
keyed_groups:
  - prefix: tag
    separator: '_'
    key: tags['items']
hostnames:
  - public_ip
  - private_ip
  - name
groups:
filters:
scopes:
  - https://www.googleapis.com/auth/compute
auth_kind: serviceaccount
service_account_file: {{ gcp_service_account_file }}
