---
# Deep Security
deepsecurity_license: {{ deepsecurity_license }}
deepsecurity_administrator_username: {{ deepsecurity_administrator_username }}
deepsecurity_administrator_password: {{ deepsecurity_administrator_password }}
deepsecurity_database_password: {{ deepsecurity_database_password }}

# Deep Security as a Service
deepsecurity_tenant_id: {{ deepsecurity_tenant_id }}
deepsecurity_token: {{ deepsecurity_token }}

# Deep Security Smart Check
smartcheck_license: {{ smartcheck_license }}
smartcheck_username: {{ smartcheck_username }}
smartcheck_password: {{ smartcheck_password }}
smartcheck_master_password: {{ smartcheck_master_password }}
smartcheck_secret_seed: {{ smartcheck_secret_seed }}
smartcheck_registry_username: {{ smartcheck_registry_username }}
smartcheck_registry_password: {{ smartcheck_registry_password }}
smartcheck_database_username: {{ smartcheck_database_username }}
smartcheck_database_password: {{ smartcheck_database_password }}

# Cloud One Application Security
application_security_key: {{ application_security_key }}
application_security_secret: {{ application_security_secret }}

# CodeReady Containers
openshift_pull_secret: {{ openshift_pull_secret}}

# Jenkins
jenkins_username: {{ jenkins_username }}
jenkins_password: {{ jenkins_password }}
jenkins_token: {{ jenkins_token }}
jenkins_github_access_token: {{ jenkins_github_access_token }}

# Harbor
harbor_username: {{ harbor_username }}
harbor_password: {{ harbor_password }}

# GitLab Registry
gitlab_runner_registration_token: {{ gitlab_runner_registration_token }}

# Cluster Registry
cluster_registry_username: {{ cluster_registry_username }}
cluster_registry_password: {{ cluster_registry_password }}

# Grafana
grafana_username: {{ grafana_username }}
grafana_password: {{ grafana_password }}

# Ansible
ansible_ssh_key: {{ ansible_ssh_key }}
admin_email: {{ admin_email }}

# Docker Hub
dockerhub_username: {{ dockerhub_username }}
dockerhub_password: {{ dockerhub_password }}

# Github
github_username: {{ github_username }}
github_password: {{ github_password }}

# Trusted Certificates
trusted_certificates: {{ trusted_certificates }}

# Report
report_url: https://y1of9z8y16.execute-api.eu-west-1.amazonaws.com/default/moadsd-ng-reporter?TableName=moadsd-ng-reporter
report_key: a1A4TENFbWJ0ZzhWQkFibEdoMG5xNUVObmRSWkNidlE0UmdzbzFhNg==
